.message{
    width: 100%;
    display: flex;
    gap: 20px;

    &.own{
        align-self: flex-end;

        .texts{
            
                background-color: whitesmoke;
                color: black;
                display: flex;
                flex-direction: row;
                align-items: center;
            
        }
    }

    .img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .texts{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        /* img{
            width: 100%;
            height: 300px;
            border-radius: 10px;
            object-fit: cover;
        } */

        p{
            padding: 20px;
            background-color: rgba(17,25,40,0.3);
            border-radius: 10px;
        }

        span{
            font-size: 13px;
        }
    }
}

.profilepic{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-top: 10px;
}

.flexme{
    display: flex;
    gap: 10px;
    text-transform: capitalize;
}



.boldme{
    font-weight: medium;
    font-size: .95em;
}


.putbgme{
    background-color: rgba(128, 128, 128, 0.593);
}

.putbgelse{
    background-color: rgba(0, 128, 0, 0.671);
}

.bot6{
    margin-bottom: 6px;
}


.mescontainer{
    width: 80%;
    padding: 3px;
    border-radius: 10px;
}

.me{
    background-color: #5183fe;
    align-self: flex-end;
    border-bottom-right-radius: 0px;
}


.else{
    background-color: rgb(157, 157, 157) ;
    align-self: flex-start;
    border-bottom-left-radius: 0px;
}

.wrapme{
    
    word-wrap: break-word;
   
}

.msgimg{
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
    }

.textwrapper{
        width: 400px;
    }

.elapsedtime{
    color: white;
    padding-top: 5px;
    padding-right: 3px;
    justify-content: flex-end;
    margin-left: auto;
}

.timewrapper{
    display: flex;
    flex-direction: column;
}

@media(max-width: 1024px){
    .profilepic{
        border-radius: 50%;
        height: 30px;
        width: 36px;
        
    }

    .mescontainer{
        width: 87%;
    }

    .textwrapper{
        width: 260px;
    }

    .voicechat{
        width: 220px;
        height: 45px;
    }

    .picker{
        width: 150px;
        height: 250px;
    }
}
.ago{
    font-size: 12px;
    opacity: .7;
}