@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 80vw;
    height: 90vh;
    background-color: rgba(17,25,40,0.75);
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.125);
    display: flex;
}


.changeme{
    width: 100%;
    height: 100%;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

body{
    background-image: url("/bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

button{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-block: 14px;
    padding-inline: 26px; */
    border: none;
    background-color: #1f8ef1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;

            &:disabled{
                cursor: not-allowed;
                background-color: #1f8ff19c;
            }
        }

@media (max-width:1024px){
    .container{
        width: 100%;
        height: 100%;
        background-color: rgba(17,25,40,0.75);
        backdrop-filter: blur(19px) saturate(180%);
        border-radius: 12px;
        border: 1px solid rgba(255,255,255,0.125);
        display: flex;
    }

    body{
        overflow-y: hidden;
        height: 100vh;
        width: 100vw;
        position: fixed;

    }
}